section div > header,
section div > article,
section div > footer {
  margin: 1rem 0;
}

section div > header > *,
section div > article > *,
section div > footer > * {
  padding: 0 1rem;
}

section article {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
}

section article header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: rgba(0, 0, 0, 0.1);
}

section article > div, section article address, section article footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section article table {
  margin-right: 1rem;
  margin-left: 1rem;
}

section article footer {
  border-top-width: 1px;
  border-top-style: solid;
  background-color: rgba(0, 0, 0, 0.025);
}

section article footer > *:last-child {
  margin-bottom: 0;
}

html {
  font-size: 22px;
  scroll-behavior: smooth;
}

@media screen and (min-width: 576px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}
@media screen and (min-width: 1400px) {
  html {
    font-size: 22px;
  }
}
html body {
  font-family: "Oxygen", sans-serif;
  color: #ededed;
}

html body.dark {
  color: #ededed;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  padding: 0.65em 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  line-height: 91%;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  line-height: 1.8em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

hr {
  width: 100%;
  margin: 1rem 0;
  border-style: solid;
  border-color: #ddd;
}

hr.dark {
  border-color: #ededed;
}

hr.thin {
  border-top-width: 1px;
}

hr.light {
  border-top-width: 2px;
}

hr.thick {
  border-top-width: 3px;
}

p {
  width: 100%;
  margin: 0 0 1rem 0;
  line-height: 1.7rem;
}

a {
  -webkit-transition: color 0.25s ease 0s;
  -moz-transition: color 0.25s ease 0s;
  -ms-transition: color 0.25s ease 0s;
  -o-transition: color 0.25s ease 0s;
  transition: color 0.25s ease 0s;
  color: #05B5F2;
}

a:hover {
  color: #01286D;
}

ul, ol {
  padding-left: 1.5rem;
  margin: 0.75rem 0;
  list-style-position: outside;
}

ul li, ol li {
  padding-left: 0.5rem;
  margin: 0.5rem 0;
}

ul li::marker, ol li::marker {
  margin-left: 1rem;
  font-weight: bold;
  color: #01286D;
}

dl dd {
  margin: 0 0 0.5rem 1.5rem;
}

blockquote {
  position: relative;
  width: 80%;
  padding: 1rem 1.5rem !important;
  margin: 1rem auto;
  background: linear-gradient(to right, #01286D 0.2rem, transparent 0.2rem) 0 100%, linear-gradient(to left, #01286D 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to bottom, #01286D 0.2rem, transparent 0.2rem) 100% 0, linear-gradient(to top, #01286D 0.2rem, transparent 0.2rem) 0 100%;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  font-family: "Oxygen", sans-serif;
  text-align: center;
  color: #333;
}

blockquote:before, blockquote:after {
  position: absolute;
  color: #01286D;
  font-family: boxicons !important;
  font-size: 1.5rem;
}

blockquote:before {
  content: "\ee83";
  top: 0;
  left: 0;
}

blockquote:after {
  content: "\ee84";
  top: auto;
  bottom: 0;
  right: 0;
}

details {
  border-width: 1px;
  border-style: solid;
  padding: 0 !important;
  margin: 1rem;
}

details summary {
  padding: 0.5rem 1rem 0.5rem 0.7rem;
  background-color: rgba(0, 0, 0, 0.025);
}

details p {
  border-top-width: 1px;
  border-top-style: solid;
  padding: 0.5rem 1rem;
  margin: 0;
}

kbd, code, samp {
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
}

kbd {
  position: relative;
}

kbd:before {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0.1rem 0.2rem 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0.1rem 0.2rem 0 0 rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

code, samp {
  color: #ededed;
}

code {
  background-color: #333;
}

samp {
  background-color: #013186;
}

pre {
  padding: 0.5rem 0.5rem 0.7rem 0.5rem !important;
  background-color: rgba(5, 181, 242, 0.5);
}

sup {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

figure {
  width: fit-content;
  margin: 1rem 0;
}

figure figcaption {
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

button,
.btn {
  -webkit-box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: box-shadow 0.5s ease 0s, background-color 0.5s ease 0s, border-color 0.5s ease 0s;
  -moz-transition: box-shadow 0.5s ease 0s, background-color 0.5s ease 0s, border-color 0.5s ease 0s;
  -ms-transition: box-shadow 0.5s ease 0s, background-color 0.5s ease 0s, border-color 0.5s ease 0s;
  -o-transition: box-shadow 0.5s ease 0s, background-color 0.5s ease 0s, border-color 0.5s ease 0s;
  transition: box-shadow 0.5s ease 0s, background-color 0.5s ease 0s, border-color 0.5s ease 0s;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

button.outline,
.btn.outline {
  background-color: transparent !important;
  border: 2px solid;
}

button:hover,
.btn:hover {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
}

button.c-1,
.btn.c-1 {
  background-color: #01286D;
  color: #ededed;
}

button.c-1:hover,
.btn.c-1:hover {
  background-color: #013ba0;
}

button.c-1.outline,
.btn.c-1.outline {
  color: #01286D;
  border-color: #01286D;
}

button.c-1.outline:hover,
.btn.c-1.outline:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #013ba0;
  border-color: #013ba0;
}

button.c-2,
.btn.c-2 {
  background-color: #05B5F2;
  color: #333;
}

button.c-2:hover,
.btn.c-2:hover {
  background-color: #0490c0;
}

button.c-2.outline,
.btn.c-2.outline {
  color: #05B5F2;
  border-color: #05B5F2;
}

button.c-2.outline:hover,
.btn.c-2.outline:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #0490c0;
  border-color: #0490c0;
}

button.c-3,
.btn.c-3 {
  background-color: #F2B305;
  color: #333;
}

button.c-3:hover,
.btn.c-3:hover {
  background-color: #c08e04;
}

button.c-3.outline,
.btn.c-3.outline {
  color: #F2B305;
  border-color: #F2B305;
}

button.c-3.outline:hover,
.btn.c-3.outline:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #c08e04;
  border-color: #c08e04;
}

button.c-4,
.btn.c-4 {
  background-color: #F27405;
  color: #333;
}

button.c-4:hover,
.btn.c-4:hover {
  background-color: #c05c04;
}

button.c-4.outline,
.btn.c-4.outline {
  color: #F27405;
  border-color: #F27405;
}

button.c-4.outline:hover,
.btn.c-4.outline:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #c05c04;
  border-color: #c05c04;
}

button.c-5,
.btn.c-5 {
  background-color: #A62103;
  color: #ededed;
}

button.c-5:hover,
.btn.c-5:hover {
  background-color: #d82b04;
}

button.c-5.outline,
.btn.c-5.outline {
  color: #A62103;
  border-color: #A62103;
}

button.c-5.outline:hover,
.btn.c-5.outline:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #d82b04;
  border-color: #d82b04;
}

.img-bg {
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.img-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table {
  margin: 2rem 0;
  border-collapse: collapse;
  overflow: hidden;
}

table caption {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
  font-weight: bold;
}

table thead th, table tfoot th {
  color: #ededed;
}

table thead th {
  background-color: #333;
}

table tfoot th {
  background-color: #999999;
  font-size: 0.8rem;
  font-weight: normal;
}

table tr td, table tr th {
  padding: 0.2rem 0.5rem;
}

table tr td:not(:first-of-type):not(:last-of-type), table tr th:not(:first-of-type):not(:last-of-type) {
  border: solid #ededed;
  border-width: 0 1px;
}

table tr:nth-of-type(odd) td {
  background-color: #ededed;
}

table tr:nth-of-type(even) td {
  background-color: #d4d4d4;
}

form,
label {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  flex-direction: column;
  align-items: stretch;
}

form input,
form textarea,
label input,
label textarea {
  padding: 0.5rem 1rem;
  margin-top: 0.3rem;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
}

form textarea,
label textarea {
  resize: vertical;
  overflow: auto;
}

form textarea.h-single,
label textarea.h-single {
  height: 2.4rem;
}

form textarea.h-double,
label textarea.h-double {
  height: 4.8rem;
}

form textarea.h-tripple,
label textarea.h-tripple {
  height: 7.2rem;
}

form textarea.h-quadrupple,
label textarea.h-quadrupple {
  height: 9.6rem;
}

form input[type=submit],
label input[type=submit] {
  width: auto;
  align-self: flex-end;
}

form .radio-group,
form .checkbox-group,
label .radio-group,
label .checkbox-group {
  display: flex;
  flex-direction: column;
}

form .radio-group label,
form .checkbox-group label,
label .radio-group label,
label .checkbox-group label {
  flex-direction: row;
  align-items: center;
}

form .radio-group label input[type=radio],
form .radio-group label input[type=checkbox],
form .checkbox-group label input[type=radio],
form .checkbox-group label input[type=checkbox],
label .radio-group label input[type=radio],
label .radio-group label input[type=checkbox],
label .checkbox-group label input[type=radio],
label .checkbox-group label input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border: none;
  width: 1.5rem;
  height: 1rem;
}

form .radio-group label input[type=radio]:before, form .radio-group label input[type=radio]:after,
form .radio-group label input[type=checkbox]:before,
form .radio-group label input[type=checkbox]:after,
form .checkbox-group label input[type=radio]:before,
form .checkbox-group label input[type=radio]:after,
form .checkbox-group label input[type=checkbox]:before,
form .checkbox-group label input[type=checkbox]:after,
label .radio-group label input[type=radio]:before,
label .radio-group label input[type=radio]:after,
label .radio-group label input[type=checkbox]:before,
label .radio-group label input[type=checkbox]:after,
label .checkbox-group label input[type=radio]:before,
label .checkbox-group label input[type=radio]:after,
label .checkbox-group label input[type=checkbox]:before,
label .checkbox-group label input[type=checkbox]:after {
  -moz-transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
}

form .radio-group label input[type=radio]:before,
form .radio-group label input[type=checkbox]:before,
form .checkbox-group label input[type=radio]:before,
form .checkbox-group label input[type=checkbox]:before,
label .radio-group label input[type=radio]:before,
label .radio-group label input[type=checkbox]:before,
label .checkbox-group label input[type=radio]:before,
label .checkbox-group label input[type=checkbox]:before {
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #333;
}

form .radio-group label input[type=radio]:after,
form .radio-group label input[type=checkbox]:after,
form .checkbox-group label input[type=radio]:after,
form .checkbox-group label input[type=checkbox]:after,
label .radio-group label input[type=radio]:after,
label .radio-group label input[type=checkbox]:after,
label .checkbox-group label input[type=radio]:after,
label .checkbox-group label input[type=checkbox]:after {
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0;
}

form .radio-group label input[type=radio]:checked:after,
form .radio-group label input[type=checkbox]:checked:after,
form .checkbox-group label input[type=radio]:checked:after,
form .checkbox-group label input[type=checkbox]:checked:after,
label .radio-group label input[type=radio]:checked:after,
label .radio-group label input[type=checkbox]:checked:after,
label .checkbox-group label input[type=radio]:checked:after,
label .checkbox-group label input[type=checkbox]:checked:after {
  opacity: 1;
}

form .radio-group label input[type=radio],
form .checkbox-group label input[type=radio],
label .radio-group label input[type=radio],
label .checkbox-group label input[type=radio] {
  margin-top: -0.1rem;
}

form .radio-group label input[type=radio]:before, form .radio-group label input[type=radio]:after,
form .checkbox-group label input[type=radio]:before,
form .checkbox-group label input[type=radio]:after,
label .radio-group label input[type=radio]:before,
label .radio-group label input[type=radio]:after,
label .checkbox-group label input[type=radio]:before,
label .checkbox-group label input[type=radio]:after {
  border-radius: 50%;
}

form .radio-group label input[type=checkbox],
form .checkbox-group label input[type=checkbox],
label .radio-group label input[type=checkbox],
label .checkbox-group label input[type=checkbox] {
  margin-top: 0;
}

form .radio-group label input[type=checkbox]:before, form .radio-group label input[type=checkbox]:after,
form .checkbox-group label input[type=checkbox]:before,
form .checkbox-group label input[type=checkbox]:after,
label .radio-group label input[type=checkbox]:before,
label .radio-group label input[type=checkbox]:after,
label .checkbox-group label input[type=checkbox]:before,
label .checkbox-group label input[type=checkbox]:after {
  border-radius: 0.1rem;
}

html, body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body * {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .container {
    width: 550px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1330px;
  }
}
.container-fluid {
  width: 100%;
}

.row,
[class^=col-],
[class*=" col-"],
.col {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.row.nowrap,
[class^=col-].nowrap,
[class*=" col-"].nowrap,
.col.nowrap {
  flex-wrap: nowrap;
}

.row.fd-rowr,
[class^=col-].fd-rowr,
[class*=" col-"].fd-rowr,
.col.fd-rowr {
  flex-direction: row-reverse;
}

.row.fd-col,
[class^=col-].fd-col,
[class*=" col-"].fd-col,
.col.fd-col {
  flex-direction: column;
}

.row.fd-colr,
[class^=col-].fd-colr,
[class*=" col-"].fd-colr,
.col.fd-colr {
  flex-direction: column-reverse;
}

.row.jc-initial,
[class^=col-].jc-initial,
[class*=" col-"].jc-initial,
.col.jc-initial {
  justify-content: initial;
}

.row.jc-inherit,
[class^=col-].jc-inherit,
[class*=" col-"].jc-inherit,
.col.jc-inherit {
  justify-content: inherit;
}

.row.jc-flex-start,
[class^=col-].jc-flex-start,
[class*=" col-"].jc-flex-start,
.col.jc-flex-start {
  justify-content: flex-start;
}

.row.jc-flex-end,
[class^=col-].jc-flex-end,
[class*=" col-"].jc-flex-end,
.col.jc-flex-end {
  justify-content: flex-end;
}

.row.jc-center,
[class^=col-].jc-center,
[class*=" col-"].jc-center,
.col.jc-center {
  justify-content: center;
}

.row.jc-space-between,
[class^=col-].jc-space-between,
[class*=" col-"].jc-space-between,
.col.jc-space-between {
  justify-content: space-between;
}

.row.jc-space-around,
[class^=col-].jc-space-around,
[class*=" col-"].jc-space-around,
.col.jc-space-around {
  justify-content: space-around;
}

.row.jc-space-evenly,
[class^=col-].jc-space-evenly,
[class*=" col-"].jc-space-evenly,
.col.jc-space-evenly {
  justify-content: space-evenly;
}

.row.ac-initial,
[class^=col-].ac-initial,
[class*=" col-"].ac-initial,
.col.ac-initial {
  align-content: initial;
}

.row.ac-inherit,
[class^=col-].ac-inherit,
[class*=" col-"].ac-inherit,
.col.ac-inherit {
  align-content: inherit;
}

.row.ac-flex-start,
[class^=col-].ac-flex-start,
[class*=" col-"].ac-flex-start,
.col.ac-flex-start {
  align-content: flex-start;
}

.row.ac-flex-end,
[class^=col-].ac-flex-end,
[class*=" col-"].ac-flex-end,
.col.ac-flex-end {
  align-content: flex-end;
}

.row.ac-center,
[class^=col-].ac-center,
[class*=" col-"].ac-center,
.col.ac-center {
  align-content: center;
}

.row.ac-space-between,
[class^=col-].ac-space-between,
[class*=" col-"].ac-space-between,
.col.ac-space-between {
  align-content: space-between;
}

.row.ac-space-around,
[class^=col-].ac-space-around,
[class*=" col-"].ac-space-around,
.col.ac-space-around {
  align-content: space-around;
}

.row.ac-space-evenly,
[class^=col-].ac-space-evenly,
[class*=" col-"].ac-space-evenly,
.col.ac-space-evenly {
  align-content: space-evenly;
}

.row.ac-stretch,
[class^=col-].ac-stretch,
[class*=" col-"].ac-stretch,
.col.ac-stretch {
  align-content: stretch;
}

.row.ai-baseline,
[class^=col-].ai-baseline,
[class*=" col-"].ai-baseline,
.col.ai-baseline {
  align-items: baseline;
}

.row.ai-initial,
[class^=col-].ai-initial,
[class*=" col-"].ai-initial,
.col.ai-initial {
  align-items: initial;
}

.row.ai-inherit,
[class^=col-].ai-inherit,
[class*=" col-"].ai-inherit,
.col.ai-inherit {
  align-items: inherit;
}

.row.ai-flex-start,
[class^=col-].ai-flex-start,
[class*=" col-"].ai-flex-start,
.col.ai-flex-start {
  align-items: flex-start;
}

.row.ai-flex-end,
[class^=col-].ai-flex-end,
[class*=" col-"].ai-flex-end,
.col.ai-flex-end {
  align-items: flex-end;
}

.row.ai-center,
[class^=col-].ai-center,
[class*=" col-"].ai-center,
.col.ai-center {
  align-items: center;
}

.row.ai-stretch,
[class^=col-].ai-stretch,
[class*=" col-"].ai-stretch,
.col.ai-stretch {
  align-items: stretch;
}

.row.dp-block,
[class^=col-].dp-block,
[class*=" col-"].dp-block,
.col.dp-block {
  display: block;
}

[class^=col-],
[class*=" col-"],
.col {
  width: 100%;
  padding: 0.5rem;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-12 {
    width: 100%;
  }
}
.col-11 {
  width: 91.6666666667%;
}

@media screen and (min-width: 576px) {
  .col-s-11 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-11 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-11 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-11 {
    width: 91.6666666667%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-11 {
    width: 91.6666666667%;
  }
}
.col-10 {
  width: 83.3333333333%;
}

@media screen and (min-width: 576px) {
  .col-s-10 {
    width: 83.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-10 {
    width: 83.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-10 {
    width: 83.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-10 {
    width: 83.3333333333%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-10 {
    width: 83.3333333333%;
  }
}
.col-9 {
  width: 75%;
}

@media screen and (min-width: 576px) {
  .col-s-9 {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-9 {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-9 {
    width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-9 {
    width: 75%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-9 {
    width: 75%;
  }
}
.col-8 {
  width: 66.6666666667%;
}

@media screen and (min-width: 576px) {
  .col-s-8 {
    width: 66.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-8 {
    width: 66.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-8 {
    width: 66.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-8 {
    width: 66.6666666667%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-8 {
    width: 66.6666666667%;
  }
}
.col-7 {
  width: 58.3333333333%;
}

@media screen and (min-width: 576px) {
  .col-s-7 {
    width: 58.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-7 {
    width: 58.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-7 {
    width: 58.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-7 {
    width: 58.3333333333%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-7 {
    width: 58.3333333333%;
  }
}
.col-6 {
  width: 50%;
}

@media screen and (min-width: 576px) {
  .col-s-6 {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-6 {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-6 {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-6 {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-6 {
    width: 50%;
  }
}
.col-5 {
  width: 41.6666666667%;
}

@media screen and (min-width: 576px) {
  .col-s-5 {
    width: 41.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-5 {
    width: 41.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-5 {
    width: 41.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-5 {
    width: 41.6666666667%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-5 {
    width: 41.6666666667%;
  }
}
.col-4 {
  width: 33.3333333333%;
}

@media screen and (min-width: 576px) {
  .col-s-4 {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-4 {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-4 {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-4 {
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-4 {
    width: 33.3333333333%;
  }
}
.col-3 {
  width: 25%;
}

@media screen and (min-width: 576px) {
  .col-s-3 {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-3 {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-3 {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-3 {
    width: 25%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-3 {
    width: 25%;
  }
}
.col-2 {
  width: 16.6666666667%;
}

@media screen and (min-width: 576px) {
  .col-s-2 {
    width: 16.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-2 {
    width: 16.6666666667%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-2 {
    width: 16.6666666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-2 {
    width: 16.6666666667%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-2 {
    width: 16.6666666667%;
  }
}
.col-1 {
  width: 8.3333333333%;
}

@media screen and (min-width: 576px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
}
.pt-0 {
  padding-top: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.px-0 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.p-0 {
  padding: 0rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.mx-0 {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pr-1 {
  padding-right: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pl-1 {
  padding-left: 0.5rem !important;
}

.py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-1 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.p-1 {
  padding: 0.5rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mx-1 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.m-1 {
  margin: 0.5rem !important;
}

.pt-2 {
  padding-top: 1rem !important;
}

.pr-2 {
  padding-right: 1rem !important;
}

.pb-2 {
  padding-bottom: 1rem !important;
}

.pl-2 {
  padding-left: 1rem !important;
}

.py-2 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-2 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-2 {
  padding: 1rem !important;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mr-2 {
  margin-right: 1rem !important;
}

.mb-2 {
  margin-bottom: 1rem !important;
}

.ml-2 {
  margin-left: 1rem !important;
}

.my-2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mx-2 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.m-2 {
  margin: 1rem !important;
}

.pt-3 {
  padding-top: 1.5rem !important;
}

.pr-3 {
  padding-right: 1.5rem !important;
}

.pb-3 {
  padding-bottom: 1.5rem !important;
}

.pl-3 {
  padding-left: 1.5rem !important;
}

.py-3 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-3 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.p-3 {
  padding: 1.5rem !important;
}

.mt-3 {
  margin-top: 1.5rem !important;
}

.mr-3 {
  margin-right: 1.5rem !important;
}

.mb-3 {
  margin-bottom: 1.5rem !important;
}

.ml-3 {
  margin-left: 1.5rem !important;
}

.my-3 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mx-3 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.m-3 {
  margin: 1.5rem !important;
}

.pt-4 {
  padding-top: 2rem !important;
}

.pr-4 {
  padding-right: 2rem !important;
}

.pb-4 {
  padding-bottom: 2rem !important;
}

.pl-4 {
  padding-left: 2rem !important;
}

.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px-4 {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.p-4 {
  padding: 2rem !important;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mr-4 {
  margin-right: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.ml-4 {
  margin-left: 2rem !important;
}

.my-4 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-4 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.m-4 {
  margin: 2rem !important;
}

.pt-5 {
  padding-top: 2.5rem !important;
}

.pr-5 {
  padding-right: 2.5rem !important;
}

.pb-5 {
  padding-bottom: 2.5rem !important;
}

.pl-5 {
  padding-left: 2.5rem !important;
}

.py-5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.px-5 {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}

.p-5 {
  padding: 2.5rem !important;
}

.mt-5 {
  margin-top: 2.5rem !important;
}

.mr-5 {
  margin-right: 2.5rem !important;
}

.mb-5 {
  margin-bottom: 2.5rem !important;
}

.ml-5 {
  margin-left: 2.5rem !important;
}

.my-5 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.mx-5 {
  margin-right: 2.5rem !important;
  margin-left: 2.5rem !important;
}

.m-5 {
  margin: 2.5rem !important;
}

.pt-6 {
  padding-top: 3rem !important;
}

.pr-6 {
  padding-right: 3rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.pl-6 {
  padding-left: 3rem !important;
}

.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-6 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.p-6 {
  padding: 3rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mr-6 {
  margin-right: 3rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

.ml-6 {
  margin-left: 3rem !important;
}

.my-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mx-6 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.m-6 {
  margin: 3rem !important;
}

.pt-7 {
  padding-top: 3.5rem !important;
}

.pr-7 {
  padding-right: 3.5rem !important;
}

.pb-7 {
  padding-bottom: 3.5rem !important;
}

.pl-7 {
  padding-left: 3.5rem !important;
}

.py-7 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.px-7 {
  padding-right: 3.5rem !important;
  padding-left: 3.5rem !important;
}

.p-7 {
  padding: 3.5rem !important;
}

.mt-7 {
  margin-top: 3.5rem !important;
}

.mr-7 {
  margin-right: 3.5rem !important;
}

.mb-7 {
  margin-bottom: 3.5rem !important;
}

.ml-7 {
  margin-left: 3.5rem !important;
}

.my-7 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.mx-7 {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important;
}

.m-7 {
  margin: 3.5rem !important;
}

.pt-8 {
  padding-top: 4rem !important;
}

.pr-8 {
  padding-right: 4rem !important;
}

.pb-8 {
  padding-bottom: 4rem !important;
}

.pl-8 {
  padding-left: 4rem !important;
}

.py-8 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.px-8 {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.p-8 {
  padding: 4rem !important;
}

.mt-8 {
  margin-top: 4rem !important;
}

.mr-8 {
  margin-right: 4rem !important;
}

.mb-8 {
  margin-bottom: 4rem !important;
}

.ml-8 {
  margin-left: 4rem !important;
}

.my-8 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mx-8 {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.m-8 {
  margin: 4rem !important;
}

.pt-9 {
  padding-top: 4.5rem !important;
}

.pr-9 {
  padding-right: 4.5rem !important;
}

.pb-9 {
  padding-bottom: 4.5rem !important;
}

.pl-9 {
  padding-left: 4.5rem !important;
}

.py-9 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.px-9 {
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important;
}

.p-9 {
  padding: 4.5rem !important;
}

.mt-9 {
  margin-top: 4.5rem !important;
}

.mr-9 {
  margin-right: 4.5rem !important;
}

.mb-9 {
  margin-bottom: 4.5rem !important;
}

.ml-9 {
  margin-left: 4.5rem !important;
}

.my-9 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.mx-9 {
  margin-right: 4.5rem !important;
  margin-left: 4.5rem !important;
}

.m-9 {
  margin: 4.5rem !important;
}

.pt-10 {
  padding-top: 5rem !important;
}

.pr-10 {
  padding-right: 5rem !important;
}

.pb-10 {
  padding-bottom: 5rem !important;
}

.pl-10 {
  padding-left: 5rem !important;
}

.py-10 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.px-10 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.p-10 {
  padding: 5rem !important;
}

.mt-10 {
  margin-top: 5rem !important;
}

.mr-10 {
  margin-right: 5rem !important;
}

.mb-10 {
  margin-bottom: 5rem !important;
}

.ml-10 {
  margin-left: 5rem !important;
}

.my-10 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.mx-10 {
  margin-right: 5rem !important;
  margin-left: 5rem !important;
}

.m-10 {
  margin: 5rem !important;
}

.ca-bg-1 {
  background-color: #01286D;
}

.ca-txt-1 {
  color: #01286D;
}

.ca-bor-1 {
  border-color: #01286D;
}

.ca-bg-2 {
  background-color: #05B5F2;
}

.ca-txt-2 {
  color: #05B5F2;
}

.ca-bor-2 {
  border-color: #05B5F2;
}

.ca-bg-3 {
  background-color: #F2B305;
}

.ca-txt-3 {
  color: #F2B305;
}

.ca-bor-3 {
  border-color: #F2B305;
}

.ca-bg-4 {
  background-color: #F27405;
}

.ca-txt-4 {
  color: #F27405;
}

.ca-bor-4 {
  border-color: #F27405;
}

.ca-bg-5 {
  background-color: #A62103;
}

.ca-txt-5 {
  color: #A62103;
}

.ca-bor-5 {
  border-color: #A62103;
}

.cm-bg-success {
  background-color: #1FCC56;
}

.cm-txt-success {
  color: #1FCC56;
}

.cm-bor-success {
  border-color: #1FCC56;
}

.cm-bg-warning {
  background-color: #FFD147;
}

.cm-txt-warning {
  color: #FFD147;
}

.cm-bor-warning {
  border-color: #FFD147;
}

.cm-bg-error {
  background-color: #EB693B;
}

.cm-txt-error {
  color: #EB693B;
}

.cm-bor-error {
  border-color: #EB693B;
}

.ct-bg-light {
  background-color: #ededed;
}

.ct-txt-light {
  color: #333;
}

.ct-bor-light {
  border-color: #ddd;
}

.ct-bg-dark {
  background-color: #333;
}

.ct-txt-dark {
  color: #ededed;
}

.ct-bor-dark {
  border-color: #ededed;
}

body {
  background: #444;
  background: -moz-radial-gradient(circle, #444 0%, #111 100%);
  background: -webkit-radial-gradient(circle, #444 0%, #111 100%);
  background: radial-gradient(circle, #444 0%, #111 100%);
}

main.container {
  height: 100vh;
}
main.container div.row {
  height: 100%;
}

div#modal {
  -webkit-transition: opacity 1s ease 0.2s;
  -moz-transition: opacity 1s ease 0.2s;
  -ms-transition: opacity 1s ease 0.2s;
  -o-transition: opacity 1s ease 0.2s;
  transition: opacity 1s ease 0.2s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  justify-content: center;
  align-items: center;
}
div#modal.visible {
  opacity: 1;
}
div#modal div#modal-content {
  max-width: 100%;
  max-height: 100%;
  width: 30rem;
  height: min-content;
  padding: 1rem;
  background-color: #fefefe;
  color: #222;
  border-radius: 0.5rem;
}
div#modal div#close-modal {
  position: absolute;
  right: 17rem;
  top: 10rem;
  padding: 0.5rem;
  cursor: pointer;
}
div#modal div#close-modal i {
  -webkit-transition: opacity 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  font-size: 2rem;
  opacity: 0.5;
}
div#modal div#close-modal:hover i {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
